@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #f5f5f4;
  --card-padding-lg: 3.5rem;
  --card-padding-md: 2.5rem;
  --card-padding-sm: 1.5rem;
  --card-radius: 53px;
  --card-radius-sm: 32px;
}
body {
  background: #1d234f !important;
}

.h-container {
  width: 80%;
  margin: auto;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.x-round-card {
  padding: var(--card-padding-lg);
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
}

@media (max-width: 768px) {
  .x-round-card {
    padding: var(--card-padding-md);
  }

  .h-container {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 640px) {
  .x-round-card {
    padding: var(--card-padding-sm);
    border-radius: var(--card-radius-sm);
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 49px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #050f27;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .mobile-search {
    height: 100% !important;
    padding: 15px;
    margin: 15px;
  }

  .mobile-search button {
    height: 40px;
    border-radius: 8px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }
}

.x-round-card {
  min-height: 600px; /* Adjust as needed */
}

@media (min-width: 1024px) {
  .x-round-card {
    min-height: auto;
    height: 100%;
  }
}
